<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Login Tests" parallel="tests" thread-count="2">
	<test name="P1 Test">
		<classes>
			<class name="com.facebook.qa.test.LoginTest"/>
			<class name="com.facebook.qa.test.SignUpTest"/>
		</classes>
	</test>
	<test name="P2 Test">
		<classes>
			<class name="com.facebook.qa.test.SignUpTest"/>
			<class name="com.facebook.qa.test.LoginTest"/>
		</classes>
	</test>
</suite>